@use '../functions/image.scss' as *;
@use '../mixins/responsive.scss' as *;

.about-me {

    @include responsive (tablet) {
        width: 700px;
        height: 1077px;
        margin-left: auto;
        margin-right: auto;
    }

    @include responsive (laptop) {
        width: 1050px;
        height: 577px;
    }

    &__flex {
        width: 260px;
        margin: 0px 30px;
        position: relative;
        left: 46px;

        @include responsive (laptop) {
            width: 1000px;
            height: 500px;
            display: flex;
            align-items: start;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

    }

    &__name {
        background-color: var(--h1-name-color);
        align-items: center;
        text-align: center;
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 368px;
        width: 776.28px;
        right: -108px;
        overflow: hidden;

        @include responsive (tablet) {
            position: absolute;
            top: 478px;
            width: 1000px;
            right: -225px;
        }


        @include responsive (laptop) {
            height: 46px;
            width: 500px;
            left: -270px;
            top: 227px;
        }

    }

    &__infinite-text {
        width: 400px;
        text-shadow: 400px 0, 800px 0;
        animation: move-text 3s linear infinite;

        @keyframes move-text {
            to {
                transform: translateX(-100%);
            }
        }
    }

    &__description {
        background-color: var(--description-color);
        padding: 15px 15px 31px;
        display: flex;
        flex-direction: column;
        justify-content: start;

        @include responsive (tablet) {
            width: 500px;
            height: 500px;
            padding: 41px;
            line-height: 25px;
        }

        @include responsive (laptop) {
            width: 500px;
            height: 500px;
            padding: 0 70px;
        }
    }

    &__image {
        width: 267px;

        @include responsive (tablet) {
            width: 500px;
        }

        @include responsive (laptop) {
            width: 500px;
        }

    }
}