@use '../functions/image.scss' as *;
@use '../mixins/responsive.scss' as *;

.about-me {

    @include responsive (laptop) {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    &__flex {
        width: 260px;
        margin: 0px 30px;
        position: relative;
        left: 46px;

        @include responsive (laptop) {
            display: flex;
            align-items: start;
            width: 1000px;
            height: 500px;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

    }

    &__name {
        background-color: var(--h1-name-color);
        align-items: center;
        text-align: center;
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 369px;
        width: 777px;
        right: -109px;
        overflow: hidden;


        @include responsive (laptop) {
            height: 46px;
            width: 500px;
            position: absolute;
            left: -270px;
            top: 227px;
        }

    }

    &__infinite-text {
        width: 400px;
        text-shadow: 400px 0, 800px 0;
        animation: move-text 3s linear infinite;

        @keyframes move-text {
            to {
                transform: translateX(-100%);
            }
        }
    }

    &__description {
        background-color: var(--description-color);
        padding: 15px 15px 31px;

        display: flex;
        flex-direction: column;
        justify-content: start;

        @include responsive (laptop) {
            width: 500px;
            height: 500px;
            padding: 0 70px;
            line-height: 25px;
        }
    }

    &__image {
        @include responsive (laptop) {
            width: 500px;
        }
    }
}

.skills {

    @include responsive(laptop) {
        position: relative;
        left: 26px;
        width: 1050px;
        margin-left: auto;
        margin-right: auto;

    }

    &__icons {
        text-align: center;
        background-color: var(--primary-color);
        width: 300px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        @include responsive(laptop) {
            grid-template-columns: repeat(6, 1fr);
            width: 100%;
            height: 300px;
        }
    }

}

.projects {

    &__descriptions {
        width: 260px;
        height: 400px;
        margin: 0px 30px;
        position: relative;
        left: 48px;
        background-color: var(--background-projects);
        flex-shrink: 0;
    }

    &__name {
        background-color: var(--h1-projects-color);
        align-items: center;
        text-align: center;
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 180px;
        width: 400px;
        right: 117px;
        overflow: hidden;
    }

    &__flex {
        display: flex;
        transform: translateX(var(--slider-translate));
        transition: transform .5s;
        // overflow: hidden;
    }

    &__container {
        position: relative;
    }
}