form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.first__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 0.25rem;
}

.second__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio__group {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    justify-content: space-between;
    width: 120px;
}