@use '../mixins/responsive.scss' as *;

.form {


    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        align-items: start;
        background-color: var(--background-form);
        width: 300px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;

        @include responsive (tablet) {
            gap: 1.5rem;
            width: 400px;
            height: 458px;
        }

        @include responsive(laptop) {
            position: relative;
            left: 26px;
            width: 600px;
            margin-left: auto;
            margin-right: auto;

        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;

        @include responsive(laptop) {
            width: 500px;
        }

    }

    &__input {
        background: none;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        resize: none;
    }

    &__label {
        color: white;
    }
}

.text--white {
    color: rgb(31, 28, 28)
}

.send-button {
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    background-color: var(--background-button);
    color: white;
    cursor: pointer;
}