@use '../mixins/responsive.scss' as *;

.icons {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    height: 300px;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12rem;

}

.header__icon {
    font-size: 30px;
    color: rgb(255, 255, 255);

    @include responsive (tablet) {
        font-size: 37px;
        top: 17px;
    }
}

.skills__icon {
    font-size: 80px;
}

.icon__bem {
    width: 80px;
    height: 80px;
}

.arrow__icon {
    position: absolute;
    z-index: 10;

    &--left {
        left: 15px;
        top: 200px;
    }

    &--right {
        top: 200px;
        right: 15px;
    }
}