@use '../functions/image.scss' as *;
@use '../mixins/responsive.scss' as *;

.projects {

    @include responsive (laptop) {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    &__descriptions {
        width: 100%;
        padding-left: 70px;
        padding-right: 30px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        flex-shrink: 0;
        overflow: hidden;
        height: 400px;

        @include responsive (laptop) {
            padding-left: 60px;
            padding-right: 0px;
        }
    }

    &__name {
        background-color: var(--h1-projects-color);
        align-items: center;
        text-align: center;
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 184px;
        width: 407.03px;
        left: -159px;
        overflow: hidden;

        @include responsive (laptop) {
            top: 184px;
            width: 400.03px;
            left: -156px;
        }
    }

    &__flex {
        display: flex;
        transform: translateX(var(--slider-translate));
        transition: transform .5s;

    }

    &__container {
        position: relative;
    }

    &__link {
        position: absolute;
        bottom: 28px;
        padding: 0.5rem;
        border-radius: 50px;
        background-color: var(--projects-links);
        cursor: pointer;
        color: white;

        @include responsive (laptop) {
            padding: 1rem;
        }
    }

    &__infinite-text {
        width: 400px;
        text-shadow: 400px 0, 800px 0;
        animation: move-text 3s linear infinite;

        @keyframes move-text {
            to {
                transform: translateX(-100%);
            }
        }
    }

}

.slider-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    overflow: hidden;
}

.web--link {
    left: 80px;

    @include responsive (laptop) {
        left: 368px
    }
}

.github--link {
    left: 220px;

    @include responsive (laptop) {
        left: 573px
    }
}

.blur__container {
    position: relative;
}

.blur {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 110px;
    backdrop-filter: blur(20px);
}