@use '../mixins/responsive.scss' as *;

.subtitle {
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 5px;


    @include responsive (laptop) {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &--h2 {
        @include responsive (laptop) {
            margin-left: 0;
        }
    }
}

.form__subtitle {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0.5rem;
}