@use '../mixins/responsive.scss' as *;

.title {
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    font-size: 3rem;
    text-align: start;
    font-family: 'Squada One';
    color: var(--banner-title-color);
}

.display-block {
    display: block;
}

.text {
    font-size: 1rem;
    font-family: 'Libre Baskerville';

    &--margin {
        margin-bottom: 0;
    }
}

.about-me__name {
    background-color: var(--h1-color);
    align-items: center;
    text-align: center;
}

.about-me__description {
    background-color: var(--description-color);
    color: white;
}