@use '../mixins/responsive.scss' as *;

.display-block {
    display: block;
}

.text {
    font-size: 1rem;
    font-family: 'Libre Baskerville';

    &--margin {
        margin-bottom: 0;
    }

    &--description {
        color: white;
    }

}