@use '../mixins/responsive.scss' as *;

.title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3.75rem;
    padding-left: 1.5rem;
    font-size: 3rem;
    text-align: start;
    font-family: 'Squada One';
    color: var(--banner-title-color);

    @include responsive (laptop) {
        font-size: 5rem;
        padding-top: 2rem;
    }

    @include responsive (tablet) {
        font-size: 4rem;
        padding-top: 3rem;
    }
}