:root {
  /* Variables CSS */
  --primary-color: hsl(343, 100%, 89%);
  --banner-title-color: hsl(0, 100%, 76%);
  --h1-color: hsla(115, 100%, 90%, 1);
  --description-color: hsla(202, 100%, 89%, 1);
}

/* Variables SASS */
$primary-color: hsl(343, 100%, 89%);
$banner-title-color: hsl(0, 100%, 76%);
$h1-color: hsla(115, 100%, 90%, 1);
$description-color: hsla(202, 100%, 89%, 1);