:root {
  /* Variables CSS */
  --primary-color: hsl(343, 100%, 89%);
  --banner-title-color: hsl(0, 100%, 76%);
  --h1-name-color: hsl(115, 100%, 90%, 1);
  --h1-projects-color: hsl(292, 100%, 90%, 100%);
  --description-color: hsl(202, 100%, 89%, 1);
  --background-projects: hsl(0, 100%, 76%, 100%);
  --background-form: hsl(25, 100%, 67%, 100%);
  --background-button: hsl(223, 100%, 68%,100%);
  --slider-translate: 0;
}

/* Variables SASS */
$primary-color: hsl(343, 100%, 89%);
$banner-title-color: hsl(0, 100%, 76%);
$h1-name-color: hsl(115, 100%, 90%, 1);
$h1-projects-color: hsl(292, 100%, 90%, 100%);
$description-color: hsl(202, 100%, 89%, 1);
$background-projects: hsl(0, 100%, 76%, 100%);
$background-form: hsl(25, 100%, 67%, 100%);
$background-button: hsl(223, 100%, 68%,100%);