:root {
  /* Variables CSS */
  --primary-color: hsl(343, 100%, 89%);
  --banner-title-color: hsl(0, 100%, 76%);

}

/* Variables SASS */
$primary-color: hsl(343, 100%, 89%);
$banner-title-color: hsl(0, 100%, 76%);